@font-face {
  font-family: 'Gretha';
  src: url('public/assets/fonts/GrethaSemibolditalic-K7zBD.otf') format('otf');
  font-weight: normal; 
  font-style: normal; 
}

* {
  box-sizing: border-box;
}

a {
  color: black;
}

.break-show { /* hide breakpoint content */ 
  display: none;
}

.app-container-outer {
  width: 100%; 
  height: 100vh;
  padding: 1.5em;
}

.app-container-inner {
  min-height: 100%;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em 2em 1em 2em;
}

.navbar {
  font-size: 2.5em;
  margin: 0 0 0 0;
}

.navbar p{
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 0px; 
}

/* CONTENT CSS */

/* ABOUT */
.headshot {
  margin: 1.5em 0 1em 0; 
  width: 220px; 
  height: 220px;
}

.about-text {
  max-width: 600px;
}

.about-container h1 {
  font-family: "Gretha"; 
  font-size: 3.5em;
  margin: 0 0 0.2em 0;
}

.about-container p {
  font-family: "Overpass Mono"; 
  font-size: 1.1em;
  margin: 0;
}


/* PROJECTS */
.projects-container {
  font-family: 'Overpass Mono'; 
}

.projects-desc {
  max-width: 600px;
}

.projects-container h2{
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 6px solid #CCCCCC; 
  display: inline-block;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 1em;
}

/* RESUME */
.resume-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Overpass Mono";
  font-size: 1.1em;
  position: relative;
}

.grid {
  width: 400px;
  position: relative;
}

.polaroid-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.polaroids {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-10%, -10%);
}

.polaroid {
  width: 45%;  /* Size of polaroids relative to the container */
  height: auto;
  position: absolute;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.polaroid1 {
  left: 14%;    /* Move it further left */
  top: 10%;    /* Adjust top position */
  transform: rotate(-12deg);
}

.polaroid2 {
  left: 63%;   /* Center this polaroid */
  top: 12%;     /* Adjust top position */
  transform: rotate(8deg);
}

.polaroid3 {
  left: 35%;   /* Spread it further right */
  top: 55%;    /* Adjust top position */
  transform: rotate(-6deg);
}

.polaroid:hover {
  transform: translateY(-10px) scale(1.05);
}

.polaroid1:hover {
  transform: rotate(-14deg) translateY(-10px) scale(1.05);
}

.polaroid2:hover {
  transform: rotate(10deg) translateY(-10px) scale(1.05);
}

.polaroid3:hover {
  transform: rotate(-8deg) translateY(-10px) scale(1.05);
}

/* CONTACT */
.contact-container {
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 80%;
  height: 100%;
}

.contact-container h1 {
  font-family: "Gretha"; 
  font-size: 3em;
  margin: 0;
}

.contact-container p {
  font-family: "Overpass Mono"; 
  font-size: 1.1em;
}

/* MENU  CSS*/
.menu-container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: flex-end; 
  height: 80vh;
  padding: 1em; 
}

.barcode-text {
  font-family: 'Libre Barcode 128 Text'; 
  font-size: 2.5em;
  margin: 0; 
}

.button-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}

.button-container button {
  color: black;
  transition: color 0.5s ease; 
}

.button-container button:hover, .nav-btn:hover {
  cursor: pointer; 
  color: gray;
  
}

.menu-btn {
  display: block;
  border: none;
  background: none;
  font-family: 'Gretha'; 
  font-size: 3.5em;
}

/* NAVBAR */
.navbar {
  display: flex; 
  align-items: center;
}

.nav-btn {
  background: none; 
  font-family: "Gretha"; 
  font-size: 0.45em;
  margin-left: 0.5em;
  border: none;
}

.navbar p {
  margin-right: 0.5em;
}

/* FADE ANIMATION  */
.fade-slide-enter {
  opacity: 0;
  transform: translateY(-10px); /* Slide in from 10px above */
}

.fade-slide-enter-active {
  opacity: 1;
  transform: translateY(0); /* End at original position */
  transition: opacity 1s ease, transform 1s ease;
}

.fade-slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-slide-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-slide-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f3f3f3;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.text-decoration-none {
  text-decoration: none;
}

/* MEDIA BREAKPOINTS */
@media screen and (max-width: 768px) {
  .break-hide {
    display: none; 
  }

  .break-show {
    display: inline-block;
  }

  .headshot-container {
    display: flex;
    justify-content: center;
  }
  .about-container p, .about-container h1 {
    text-align: center;
  }

  .navbar {
    justify-content: center; 
  }
  .grid-container {
    display: flex; 
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .contact-container {
    height: 80vh; 
    width: 100%;
  }

  .contact-container p {
    font-size: 1em;
  }

  .grid-container {
    height: 80vh;
  }
}

@media screen and (max-width: 1024px) {
  .barcode-text {
    font-size: 2em; 
  }
}